<h1>New Phrase</h1>

<div class="field">
  <%= form_for @phrase do |f| %>
      <p>
        <%= f.label :content %><br>
        <%= f.text_field :content %>
      </p>

      <p >
        <%= f.label :translation %><br>
        <%= f.text_field :translation %>
      </p>


      <p>

        <%= f.label :example, id: 'example_label' %><br/>

      <div id="items">
        <div><input type="text" name="phrase[examples][]"></div>
      </div>
      </p>

      <p>
      <button id="add">Add Example</button>

      </p>

      <p>
        <%= f.select :category_id, Category.all.map { |x| [x.content, x.id] }, :prompt => "Select One" %>
      </p>

      <p>
        <%= f.submit %>
      </p>


  <% end %>

</div>

<%= javascript_include_tag('examples')%>