<!DOCTYPE html>
<html>
<head>
  <title>EngliApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body style="background-image: url(<%= image_path('pip.jpg') %>)">
<%= render 'layouts/header'%>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
